<top-menu></top-menu>

<div class="main">
  <h1>Sign up to see this board</h1>
  <p>You’re almost there! The board you are trying to access requires a Trello account.</p>
  <button mat-raised-button>Sign up for free</button>
  <a href="">Already have an account? Log in</a>
</div>
<div class="bottom__background">
  <img id="tape" src="https://a.trellocdn.com/prgb/dist/images/request-access/bottom-curve.45d7253154299d327a17.png"
    alt=""><img id="people" class="bottom__background--image"
    src="https://a.trellocdn.com/prgb/dist/images/request-access/background-left.da0d6fb7fd0a5918d5e8.svg" alt="">
</div>
