<!-- <button (click)="onSaveList(taskList)">Save todo List</button>
<button (click)="onSaveInprogressList(taskList)">Save inProgress List</button> -->
<div class="todo-list">
  <div cdkDropListGroup class="row">
    <!-- <div class="col-md-4">
      <app-tasks-column title="TO DO" [tasks]="taskNewList"></app-tasks-column>
    </div>
    <div class="col-md-4">
      <app-tasks-column title="IN PROGRESS" [tasks]="taskInProgressList">
      </app-tasks-column>
    </div>
    <div class="col-md-4">
      <app-tasks-column title="Done" [tasks]="taskDoneList"></app-tasks-column>
    </div> -->

    <div *ngIf="title">
      You chose: <i>{{title}}
      </i>
    </div>
    <div *ngIf="description">
      You chose: <i>{{description}}
      </i>
    </div>
  </div>
</div>
