<!-- <button (click)="onSaveList(taskList)">Save todo List</button>
<button (click)="onSaveInprogressList(taskList)">Save inProgress List</button> -->
<div class="todo-list">
  <div cdkDropListGroup class="row">
    <div class=" list col-md-4">
      <h2>TO DO</h2>
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="taskList" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box row" *ngFor="let item of taskList; let i = index" cdkDrag>
          <div class="col-md-9">
            <h2>{{item.title}}</h2>
            <p>{{item.description}}</p>
          </div>
          <div class="col-md-3">
            <button mat-icon-button type=button (click)="deleteTodoTaskConfirm(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditTask(i)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <app-add-todo class="add-todo"></app-add-todo>

    </div>

    <div class=" inprogress-list col-md-4">
      <h2>IN PROGRESS</h2>
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="taskInProgress" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box row" *ngFor="let item of taskInProgress; let i = index" cdkDrag>
          <div class="col-md-9">
            <h2>{{item.title}}</h2>
            {{item.description}}
          </div>
          <div class="col-md-3">
            <button mat-icon-button type=button (click)="deleteInprogressTaskConfirm(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditInprogressTask(i)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <app-add-todo class="add-todo"></app-add-todo>

    </div>
    <div class=" list col-md-4">
      <h2>Done</h2>
      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="taskDone" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box row" *ngFor="let item of taskDone; let i = index" cdkDrag>
          <div class="col-md-9">
            <h2>{{item.title}}</h2>
            {{item.description}}
          </div>
          <div class="col-md-3">
            <button mat-icon-button type=button (click)="deleteDoneTaskConfirm(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditDoneTask(i)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <app-add-todo class="add-todo"></app-add-todo>
    </div>


    <div *ngIf="title">
      You chose: <i>{{title}}
      </i>
    </div>
    <div *ngIf="description">
      You chose: <i>{{description}}
      </i>
    </div>
