<div class=" list">
  <div cdkDropListGroup class="box row nowrap">
    <div class="col-8 col-sm-6" *ngFor="let col of columns">
      <app-tasks-column [col]="col"></app-tasks-column>
    </div>
  </div>
</div>
<app-side-nav></app-side-nav>

<!-- <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="columns" class="list" (cdkDropListDropped)="drop($event)">
  <div class="box row nowrap">
    <div class="col-8 col-sm-6" *ngFor="let col of columns" cdkDrag>
      <app-tasks-column [col]="col"></app-tasks-column>
    </div>
  </div>
</div> -->
