.add-task {
  text-align: center;
  max-width: 96%;
  margin-left: 12px;
}

.input {
  width: 100%;
  background-color: #a3a5aa;
}

.input-form {
  color: #c6c7ce;
}

.add-btn {
  background-color: #c6c7ce;
  color: #222222;
}

.add-task-div {
  text-align: center;
  background-color: cadetblue;
}
.add-task-btn {
  font-size: 17px;
  background-color: cadetblue;
  width: 100%;
  text-decoration: none;
  border: 0;
  // color: white;
}

.add-task-header {
  background-color: #ebecf0;
  width: 100%;
}

.add-task-header-text {
  font-size: 17px;
  width: 100%;
  color: #222222;
  text-align: center;
}

.add-task-title {
  height: 20px;
}
