<div class="add-task">
  <div class="row">
    <mat-card>
      <div>
        <form [formGroup]="todoForm">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Enter your title</mat-label>
            <input matInput placeholder=" Reading CSS today" required formControlName="title">
          </mat-form-field>
          <mat-form-field appearance="fill" class="input">
            <mat-label>Enter your description</mat-label>
            <textarea rows="3" matInput placeholder=" Reading CSS today" required
              formControlName="description"></textarea>
          </mat-form-field>
        </form>
      </div>
    </mat-card>
    <button *ngIf="editMode === false" mat-raised-button class="add-btn" style="font-size: 20px" (click)="onAddTask()">+
      Add {{listName}} Task</button>
    <button *ngIf="editMode === true" mat-raised-button class="add-btn" (click)="onAddTask()">edit</button>
  </div>
