.add-task {
  text-align: center;
  max-width: 96%;
  margin-left: 12px;
}

.input {
  width: 100%;
  background-color: #386641;
}

.input-form {
  color: #386641;
}

.add-btn {
  background-color: #6a994e;
}

.add-task-div {
  text-align: center;
  background-color: cadetblue;
}
.add-task-btn {
  font-size: 17px;
  background-color: cadetblue;
  width: 100%;
  text-decoration: none;
  border: 0;
  color: white;
}

.add-task-header {
  background-color: #386641;
  width: 100%;
}

.add-task-header-text {
  font-size: 17px;
  width: 100%;
  color: white;
  text-align: center;
}

.add-task-title {
  height: 20px;
}

.mat-card-header {
  background-color: gold;
  padding: 5px;
}

.mat-card {
  padding: 0px;
}

.mat-card-content {
  padding: 5px;
}
