.add-task {
  text-align: center;
  max-width: 96%;
  margin-left: 12px;
}

.input {
  width: 100%;
}

.add-btn {
  background-color: cadetblue;
}

.add-task-div {
  text-align: center;
  background-color: cadetblue;
}
.add-task-btn {
  font-size: 17px;
  background-color: cadetblue;
  width: 100%;
  text-decoration: none;
  border: 0;
  color: white;
}

.add-task-header {
  background-color: cadetblue;
  width: 100%;
}

.add-task-header-text {
  font-size: 17px;
  width: 100%;
  color: white;
  text-align: center;
}

.add-task-title {
  height: 20px;
}
