@import "../../../main-styles.scss";

.container {
  min-width: 990px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__top {
  margin: 4rem auto;
  padding-top: 3rem;
  text-align: center;
  width: 41rem;
  h1 {
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
  }

  p {
    width: 100%;
    text-align: center;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.price__table {
  // width: 59%;
  margin: auto;
}
.price__plans {
  display: grid;
  border-left: 1.5px solid $price__border;
  // border-top: 1.5px solid $price__border;
  // border-bottom: 1.5px solid $price__border;
  grid-template-areas:
    "title" "title" "title" "title"
    "price" "price" "price" "price"
    "detail" "detail" "detail" "detail"
    "suitable" "suitable" "suitable" "suitable"
    "cta" "cta" "cta" "cta"
    "fields" "fields" "fields" "fields"
    "link" "link" "link" "link";

  #plan__premium--title {
    border-top: 2px solid $price__btn;
    border-right: 2px solid $price__btn;
    border-left: 2px solid $price__btn;
  }
  #plan__enterprise {
    border-top: 1.5px solid $price__border;
  }
  #plan__standard {
    border-top: 1.5px solid $price__border;
  }
  #plan__free {
    border-top: 1.5px solid $price__border;
  }
}
.plan__premium--both {
  border-right: 2px solid $price__btn;
  border-left: 2px solid $price__btn;
}
.title {
  grid-row: "title";
  border-right: 1.5px solid $price__border;
  padding: 1rem 0.8rem;
  margin: 0;
  font-weight: bold;
}

.price {
  grid-row: price;
  border-right: 1.5px solid $price__border;
  padding: 1rem 0.8rem 0 0.8rem;
  margin: 0;
  font-size: 1rem;

  .num {
    font-size: 3rem;
  }
}

.detail {
  grid-row: detail;
  border-right: 1.5px solid $price__border;
  margin: 0;
  padding: 0rem 0.8rem;
  font-size: 0.75rem;
  color: $navbar__right--title;
}

.suitable {
  grid-row: suitable;
  border-right: 1.5px solid $price__border;
  margin: 0;
  padding: 1rem 0.8rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: cta;
  border-right: 1.5px solid $price__border;
  margin: 0;
  padding: 1rem 0.8rem;
  text-decoration: none;

  &__btn {
    margin-left: 1rem;
    background-color: white;
    border: 1px solid $price__btn;
    color: $navbar__right--title;
    scale: 1.2;
    font-size: 0.85rem;

    &:hover {
      background-color: $price__btn--hover;
    }
  }

  #price-free {
    background-color: $price__btn--hover;

    &:hover {
      background-color: white;
    }
  }
}

.fields {
  border-right: 1.5px solid $price__border;
  padding: 1rem 1.2rem;
  grid-row: fields;
  p::before {
    content: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.73534 4.3223C1.36105 3.91618 0.728414 3.89038 0.3223 4.26467C-0.0838134 4.63895 -0.109615 5.27159 0.264671 5.6777L3.87678 9.59697C4.41431 10.1231 5.21446 10.1231 5.71114 9.62638C5.7724 9.56623 5.7724 9.56623 6.07539 9.26827C6.36994 8.97855 6.69814 8.65556 7.05157 8.3075C8.06144 7.31303 9.07132 6.31689 10.014 5.38477L10.0543 5.34489C11.7291 3.68869 13.0004 2.42365 13.712 1.70223C14.0998 1.30904 14.0954 0.675886 13.7022 0.288053C13.309 -0.0997796 12.6759 -0.0954305 12.2881 0.297767C11.5843 1.01131 10.3169 2.27244 8.648 3.92281L8.60773 3.96263C7.66616 4.89368 6.65722 5.88889 5.64826 6.88247C5.35784 7.16847 5.08449 7.43752 4.83288 7.68506L1.73534 4.3223Z' fill='%2336b37e'/%3E%3C/svg%3E%0A");
  }

  &__item {
    border-top: 1.5px solid $price__border;

    &--title {
      margin: 1rem 0;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}
.link {
  grid-row: link;
  border-right: 1.5px solid $price__border;
  margin: 0;
  padding: 1rem 0.8rem 1.8rem 0.8rem;
  text-align: center;
  font-size: 1rem;
}

.link-bottom {
  border-bottom: 1.5px solid $price__border;
}

.plan__premium--both {
  border-right: 2px solid $price__btn;
  border-left: 2px solid $price__btn;
}

#link__premium {
  border-bottom: 2px solid $price__btn;
}

.title__compare {
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compare-plan {
  table {
    min-width: 928px;
    width: 100%;
    th,
    td {
      padding: 1rem;
      border: 1px solid $price__border;
      border-left: none;
    }

    td {
      text-align: center;
    }
    .tick-mark {
      color: #4fbd8e;
      scale: 1.4;
    }

    th {
      max-width: 530px;
    }

    .table-head {
      border: none;
    }
    a {
      font-size: 1rem;
    }

    h4 {
      margin: 0;
    }
  }
}

.looking-for {
  text-align: center;
  margin-top: 3rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 1.4rem;
  }
}

#suggestion-btn {
  margin: 0;
}

.frequency {
  margin-top: 2.9rem;
  font-size: 2.5rem;
  font-weight: bold;
}

mat-expansion-panel {
  background-color: white !important;
  color: black !important;
  font-size: 3rem !important;

  p {
    font-size: 1.15rem;
    line-height: 1.6rem;
  }
}

mat-panel-title {
  color: rgb(61, 61, 61) !important;
  font-weight: 600;
  font-size: 1.5rem;
}

.expansion {
  hr {
    margin: 0 2rem;
    padding: 0 2rem;
    overflow: hidden;
    color: #4fbd8e;
  }
}

::ng-deep .mat-expansion-panel-header,
.mat-panel-title {
  height: 5rem !important;
  align-items: flex-start;
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
}

.negative {
  font-size: 2rem;
  margin-right: 1rem;
}

.pricing__bottom {
  display: flex;
  height: 407px;
  width: 99vw;
  align-items: center;
  padding: 1rem 9rem 5rem 9rem;

  background: linear-gradient(rgb(230, 252, 255), rgb(255, 255, 255)) no-repeat;

  .image {
    display: flex;
    width: 35%;
    height: 65%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 65%;
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    ul {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-align: justify;
      text-justify: inter-word;
    }

    .bottom-btn {
      width: 6.4rem !important;
      padding: 1.5px 0 3px 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  height: 209px;
  background-color: rgb(23, 43, 77);
  width: 99vw;
  margin: 0 79px;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
  }

  .bottom-icon {
    color: black;
    background-color: black;
  }

  .icon {
    width: 192px;
    height: 114px;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;

    &__log {
      text-decoration: none;
      color: white;
      margin-top: 1rem;
      font-size: 1rem;
    }
    &__svg {
      display: flex;
      flex-direction: column;
    }
  }

  &__card {
    width: 192px;
    height: 114px;
    padding: 0.7rem 1rem;
    margin: 1rem 1rem 0 1rem;
    text-decoration: none;
    cursor: pointer;
    color: rgb(216, 216, 216);
    font-size: 0.8rem;

    &:hover {
      background-color: rgb(52, 69, 99);
    }

    h3 {
      margin: 0 0 3px 3px;
      font-weight: 500;
    }
  }

  .line {
    display: flex;
    height: 1px;
    width: 95%;
    border-bottom: 1px solid rgb(145, 145, 145);
  }

  .footer__bottom {
    display: flex;
    height: 200px;
    width: 1060px;
    background-color: #172b4d;
  }
}

.copyright {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
  justify-items: center;
  .english {
    display: flex;
    width: 17%;
    a {
      text-decoration: none;
      color: rgb(216, 216, 216);
      font-size: 1.1rem;
      font-weight: 600;
    }
    &::before {
      margin-right: 1rem;
      content: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='20px' height='20px' viewBox='0 0 25 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M2.33514634,13.0909091 C2.80456741,17.1674997 5.87382928,20.4918664 9.91593939,21.5020963 C8.18760918,19.0069673 7.13798566,16.119686 6.87807529,13.0909091 L2.33514634,13.0909091 Z M2.33514634,10.9090909 L6.8751035,10.9090909 C7.12988231,7.89470494 8.18079774,5.00118821 9.91557751,2.49799419 C5.87364609,3.50833206 2.8045534,6.83262197 2.33514634,10.9090909 Z M22.6648537,10.9090909 C22.1954326,6.83250032 19.1261707,3.50813364 15.0840606,2.49790374 C16.8123908,4.99303266 17.8620143,7.88031403 18.1219247,10.9090909 L22.6648537,10.9090909 Z M22.6648537,13.0909091 L18.1248965,13.0909091 C17.8701177,16.1052951 16.8192023,18.9988118 15.0844225,21.5020058 C19.1263539,20.4916679 22.1954466,17.167378 22.6648537,13.0909091 Z M9.15315078,10.9090909 L15.843646,10.9090909 C15.5581939,7.94925479 14.3973512,5.12935736 12.4999751,2.78265622 C10.595448,5.13778492 9.43302782,7.96652031 9.15315078,10.9090909 Z M15.8468492,13.0909091 L9.15635402,13.0909091 C9.44180608,16.0507452 10.6026488,18.8706426 12.5000249,21.2173438 C14.404552,18.8622151 15.5669722,16.0334797 15.8468492,13.0909091 Z M12.5,24 C5.59644063,24 0,18.627417 0,12 C0,5.372583 5.59644063,0 12.5,0 C19.4035594,0 25,5.372583 25,12 C25,18.627417 19.4035594,24 12.5,24 Z' %3E%3C/path%3E%3C/svg%3E%0A");
    }

    &::after {
      padding-left: 10px;

      content: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='8' viewBox='0 0 13 8' width='13' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='m11.7305.59279c.3626.362629.3885.93447.0777 1.32699l-.0777.08722-4.99999 4.99999c-.36263.36263-.93446.38853-1.32697.0777l-.08725-.0777-4.999959-4.99997c-.3905249-.39052-.3905242-1.023685 0-1.414209.362629-.36263.934469-.388553 1.326989-.077728l.08722.077728 4.29292 4.292139 4.29284-4.29216c.3626-.36263.9345-.388532 1.327-.077707z' /%3E%3C/svg%3E");
    }
  }

  &__links {
    display: flex;
    width: 50%;

    a {
      text-decoration: none;
      color: rgb(216, 216, 216);
      margin: 0 1rem;
      &:hover {
        text-decoration: underline;
        font-weight: 500;
      }
    }

    div {
      text-decoration: none;
      color: rgb(216, 216, 216);
      margin: 0 1rem;
    }
  }

  &__logo {
    display: flex;
    width: 33%;
    justify-content: center;

    .circle {
      width: 35px;
      height: 35px;
      border: 2px solid rgb(216, 216, 216);
      border-radius: 50px;
      margin: 0 0.7rem;
      cursor: pointer;

      &:hover {
        .logo {
          scale: 0.8;
        }
      }
    }

    .logo {
      margin: 7px 6px;
    }

    #facebook {
      margin: 7px 12px;
    }

    #linkdin {
      margin: 7px 8px;
    }

    #instagram {
      margin: 7px 8px;
    }
  }
}
