<app-landing-page></app-landing-page>

<div class="container">
  <div class="title__top">
    <h1>Trello your way.</h1>
    <p>
      Trusted by millions, Trello powers teams all around the world.
      Explore which option is right for you.
    </p>
  </div>

  <div class="price__table">
    <div class="price__plans">
      <!-- Free plan -->
      <!-- <div class="plan"> -->
      <h3 class="title">
        FREE
      </h3>
      <h3 class="price">
        $ <span class="num">0</span> USD
      </h3>
      <p class="detail">
        Free for your whole team
      </p>
      <p class="suitable">
        For individuals or teams looking to organize any project.
      </p>
      <div class="cta">
        <a>Get started</a>
      </div>
      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">INCLUDED IN FREE:</h3>
          <p>
            Unlimited cards
          </p>
          <p>
            Up to 10 boards per Workspace
          </p>
          <p>
            Unlimited Power-Ups per board
          </p>
          <p>
            Unlimited storage (10MB/file)
          </p>
          <p>
            250 Workspace command runs per month
          </p>
          <p>
            Custom backgrounds & stickers
          </p>
          <p>
            Unlimited activity log
          </p>
          <p>
            Assignee and due dates
          </p>
          <p>
            iOS and Android mobile apps
          </p>
          <p>
            2-factor authentication
          </p>
        </div>
      </div>
      <a class="link"></a>


      <!-- </div> -->

      <!-- Standard Plan -->
      <!-- <div class="plan"> -->
      <h3 class="title">
        STANDARD
      </h3>
      <h3 class="price">
        $ <span class="num">5</span> USD
      </h3>
      <p class="detail">
        Per user/month if billed annually ($6 billed monthly)
      </p>
      <p class="suitable">
        For small teams that need to manage work and scale collaboration.
      </p>
      <div class="cta">
        <a>Sign up now</a>
      </div>

      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">EVERYTHING IN FREE, PLUS:</h3>

          <p>
            Unlimited boards
          </p>
          <p>
            Advanced checklists
          </p>
          <p>
            Unlimited Power-Ups per board
          </p>
          <p>
            Custom Fields
          </p>
          <p>
            Unlimited storage (250MB/file)
          </p>
          <p>
            1,000 Workspace command runs per month
          </p>
          <p>
            Saved searches
          </p>
        </div>
      </div>
      <a href="" class="link">Learn more about Standard</a>
      <!-- </div> -->

      <!-- Premium plan -->
      <!-- <div class="plan"> -->
      <h3 class="title">
        PREMIUM
      </h3>
      <h3 class="price">
        $ <span class="num">10</span> USD
      </h3>
      <p class="detail">
        Per user/month if billed annually ($12.50 billed monthly)
      </p>
      <p class="suitable">
        For teams that need to track and visualize multiple projects in several ways, including boards, timelines,
        calendars, etc.
      </p>
      <div class="cta">

        <a>Try for free</a>
      </div>
      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">EVERYTHING IN STANDARD, PLUS:</h3>

          <p>
            Views: Calendar, Timeline, Table, Dashboard, and Map
          </p>
          <p>
            Workspace views: Table and Calendar
          </p>
          <p>
            Unlimited Workspace command runs
          </p>
          <p>
            Admin and security features
          </p>
          <p>
            Workspace-level templates
          </p>
          <p>
            Collections
          </p>
          <p>
            Observers
          </p>
          <p>
            Priority support
          </p>


        </div>
      </div>
      <a href="" class="link">Learn more about Premium</a>
      <!-- </div> -->

      <!-- Enterprise -->
      <!-- <div class="plan"> -->
      <h3 class="title">
        ENTERPRISE
      </h3>
      <h3 class="price">
        $ <span class="num">17.50</span> USD
      </h3>
      <p class="detail">
        Per user/month - billed annually ($210.00 annual price per user)
      </p>
      <p class="suitable">
        For organizations that need to connect work across teams with more security and controls.
      </p>
      <a class="cta">Contact sales</a>
      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">EVERYTHING IN PREMIUM, PLUS:
          </h3>

          <p>
            Unlimited Workspaces
          </p>
          <p>
            Organization-wide permissions
          </p>
          <p>
            Unlimited Power-Ups per board
          </p>
          <p>
            Organization-visible boards
          </p>
          <p>
            Public board management
          </p>
          <p>
            Multi-board guests
          </p>
          <p>
            Attachment permissions
          </p>
          <p>
            Power-Up administration
          </p>
          <p>
            Free SSO and user provisioning with Atlassian Access
          </p>
        </div>
      </div>
      <a href="" class="link">Learn more about Enterprise</a>
      <!-- </div> -->
    </div>
  </div>
</div>
