<app-landing-page></app-landing-page>

<div class="container">
  <div class="title__top">
    <h1>Trello your way.</h1>
    <p>
      Trusted by millions, Trello powers teams all around the world.
      Explore which option is right for you.
    </p>
  </div>

  <div class="price__table">
    <div class="price__plans">
      <!-- Free plan -->
      <!-- <div class="plan"> -->
      <h3 class="title" id="plan__free">
        FREE
      </h3>
      <h3 class="price">
        $ <span class="num">0</span> USD
      </h3>
      <p class="detail">
        Free for your whole team
      </p>
      <p class="suitable">
        For individuals or teams looking to organize any project.
      </p>
      <div class="cta">
        <button mat-stroked-button class="cta__btn">Get started</button>
      </div>
      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">INCLUDED IN FREE:</h3>
          <p>
            Unlimited cards
          </p>
          <p>
            Up to 10 boards per Workspace
          </p>
          <p>
            Unlimited Power-Ups per board
          </p>
          <p>
            Unlimited storage (10MB/file)
          </p>
          <p>
            250 Workspace command runs per month
          </p>
          <p>
            Custom backgrounds & stickers
          </p>
          <p>
            Unlimited activity log
          </p>
          <p>
            Assignee and due dates
          </p>
          <p>
            iOS and Android mobile apps
          </p>
          <p>
            2-factor authentication
          </p>
        </div>
      </div>
      <a class="link link-bottom"></a>


      <!-- </div> -->

      <!-- Standard Plan -->
      <!-- <div class="plan"> -->
      <h3 class="title" id="plan__standard">
        STANDARD
      </h3>
      <h3 class="price">
        $ <span class="num">5</span> USD
      </h3>
      <p class="detail">
        Per user/month if billed annually ($6 billed monthly)
      </p>
      <p class="suitable">
        For small teams that need to manage work and scale collaboration.
      </p>
      <div class="cta">
        <button mat-stroked-button class="cta__btn">Sign up now</button>
      </div>

      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">EVERYTHING IN FREE, PLUS:</h3>

          <p>
            Unlimited boards
          </p>
          <p>
            Advanced checklists
          </p>
          <p>
            Unlimited Power-Ups per board
          </p>
          <p>
            Custom Fields
          </p>
          <p>
            Unlimited storage (250MB/file)
          </p>
          <p>
            1,000 Workspace command runs per month
          </p>
          <p>
            Saved searches
          </p>
        </div>
      </div>
      <a href="" class="link link-bottom">Learn more about Standard</a>
      <!-- </div> -->

      <!-- Premium plan -->
      <!-- <div class="plan"> -->
      <h3 class="title" id="plan__premium--title">
        PREMIUM
      </h3>
      <h3 class="price plan__premium--both">
        $ <span class="num">10</span> USD
      </h3>
      <p class="detail plan__premium--both">
        Per user/month if billed annually ($12.50 billed monthly)
      </p>
      <p class="suitable plan__premium--both">
        For teams that need to track and visualize multiple projects in several ways, including boards, timelines,
        calendars, etc.
      </p>
      <div class="cta plan__premium--both">

        <button mat-stroked-button class="cta__btn " id="price-free">Try for free</button>
      </div>
      <div class="fields plan__premium--both">
        <div class="fields__item">
          <h3 class="fields__item--title">EVERYTHING IN STANDARD, PLUS:</h3>

          <p>
            Views: Calendar, Timeline, Table, Dashboard, and Map
          </p>
          <p>
            Workspace views: Table and Calendar
          </p>
          <p>
            Unlimited Workspace command runs
          </p>
          <p>
            Admin and security features
          </p>
          <p>
            Workspace-level templates
          </p>
          <p>
            Collections
          </p>
          <p>
            Observers
          </p>
          <p>
            Priority support
          </p>


        </div>
      </div>
      <a href="" class="link plan__premium--both" id="link__premium">Learn more about Premium</a>
      <!-- </div> -->

      <!-- Enterprise -->
      <!-- <div class="plan"> -->
      <h3 class="title" id="plan__enterprise">
        ENTERPRISE
      </h3>
      <h3 class="price">
        $ <span class="num">17.50</span> USD
      </h3>
      <p class="detail">
        Per user/month - billed annually ($210.00 annual price per user)
      </p>
      <p class="suitable">
        For organizations that need to connect work across teams with more security and controls.
      </p>
      <div class="cta">
        <button mat-stroked-button class="cta__btn">Contact sales</button>
      </div>
      <div class="fields">
        <div class="fields__item">
          <h3 class="fields__item--title">EVERYTHING IN PREMIUM, PLUS:
          </h3>

          <p>
            Unlimited Workspaces
          </p>
          <p>
            Organization-wide permissions
          </p>
          <p>
            Unlimited Power-Ups per board
          </p>
          <p>
            Organization-visible boards
          </p>
          <p>
            Public board management
          </p>
          <p>
            Multi-board guests
          </p>
          <p>
            Attachment permissions
          </p>
          <p>
            Power-Up administration
          </p>
          <p>
            Free SSO and user provisioning with Atlassian Access
          </p>
        </div>
      </div>
      <a href="" class="link link-bottom">Learn more about Enterprise</a>
      <!-- </div> -->
    </div>
  </div>

  <div class="title__compare">
    <h1>Compare our plans</h1>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Telephone</mat-label> -->
        <!-- <span matPrefix>+1 &nbsp;</span> -->
        <input type="text" matInput placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="compare-plan">
    <table>
      <thead>
        <tr>
          <th class="table-head">FEATURES</th>
          <th class="table-head">FREE</th>
          <th class="table-head"> STANDARD </th>
          <th class="table-head">PREMIUM </th>
          <th class="table-head">ENTERPRISE</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>UNLIMITED CARDS</th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>BUILT-IN AUTOMATION
            <div>
              <h4>Powerful no-code automation is built into every Trello board.</h4>
              <a href=""> Start automating</a>
            </div>
          </th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>ASSIGNEE AND DUE DATES</th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>IOS AND ANDROID MOBILE APPS
            <div>
              <a href="">Download mobile apps</a>
            </div>
          </th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>DESKTOP APP
            <div><a href="">Download desktop app</a>
            </div>
          </th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>UNLIMITED ACTIVITY LOGS</th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>TRELLO TEMPLATES
            <div>
              <h4>Give your team a blueprint for success with tried-and-true templates from the Trello community.</h4>
              <a href="">Try a template</a>
            </div>
          </th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>2-FACTOR AUTHENTICATION</th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>MOBILE DEVICE MANAGEMENT
            <h4>Enforce security controls on mobile app usage through built-in mobile device management (MDM) support
              for iOS and Android.</h4>
          </th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>UNLIMITED POWER-UPS
            <div>
              <h4>Integrate with more than 200+ apps and tools your team depends on like Slack, Google Drive,
                Salesforce, Dropbox and more directly into your Trello boards. (Note: Some Power-Ups by our partners
                require an additional subscription fee.)</h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>UNLIMITED BOARDS
            <div>
              <h4>
                Create as many Trello boards as your team sees fit; from onboarding new hires, to sprint planning, and
                every team meeting agenda in between.
              </h4>
            </div>
          </th>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>ADVANCED CHECKLISTS
            <div>
              <h4>
                Break down projects into byte-sized tasks and get granular by assigning members and due dates to
                individual tasks.
              </h4>
            </div>
          </th>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>CUSTOM FIELDS
            <div>
              <h4>
                Bring process and formality to your workflow by structuring information on Trello cards to the task at
                hand with Custom Fields.
              </h4>
            </div>
          </th>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>DASHBOARD VIEW
            <div>
              <h4>
                Trello’s reporting tool lets you access real-time insights and communicate your team’s progress in a
                visual and meaningful way.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>TIMELINE VIEW
            <div>
              <h4>
                Plan your project, stay on top of every sprint, and see how all of the moving parts fit together over
                time with Timeline.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>TABLE VIEW
            <div>
              <h4>
                Bring a clearer perspective to all the work happening across a single board in a list format where you
                can create and edit cards in just a few clicks.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>CALENDAR VIEW
            <div>
              <h4>
                Calendar displays start dates, due dates, and advanced checklist items so you can see what lies ahead
                for your project and stay on top of today’s to-dos.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>MAP VIEW
            <div>
              <h4>
                Plan an offsite, scout new office locations, or manage product distribution points by adding locations
                to your cards and visualizing them geographically on a map.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>WORKSPACE TABLE VIEW
            <div>
              <h4>
                See your projects and tasks across Workspaces and boards in a spreadsheet-style list that can be sorted
                and filtered to drill down to exactly the cards you need to see.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>WORKSPACE CALENDAR VIEW
            <div>
              <h4>
                Workspace calendar displays items with start dates and due dates across your projects and boards, so you
                can see what lies ahead for all your teamwork.
              </h4>
              <a href="">Learn more</a>

            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>WORKSPACE-LEVEL TEMPLATES</th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>COMMAND RUN ADMINISTRATION
            <div>
              <h4>
                Premium or Enterprise administrators can disable commands on behalf of other users, and perform other
                command maintenance.
              </h4>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>BOARD COLLECTIONS
            <div>
              <h4>
                Premium and Enterprise teams can use Board Collections to easily group boards together whether by
                Workspace, department, or major project.
              </h4>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>PRIORITY SUPPORT
            <div>
              <h4>
                Customers with Premium or Enterprise get priority email support, meaning we’ll make sure your questions
                get answered within one business day.
              </h4>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>OBSERVERS
            <div>
              <h4>
                Observers are a Premium security setting that limit a user’s actions within a board.
              </h4>
            </div>
          </th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>DOMAIN-RESTRICTED INVITES</th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>DEACTIVATE MEMBERS</th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>SIMPLE DATA EXPORT</th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>UNLIMITED COMMAND RUNS</th>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>SAML SSO VIA ATLASSIAN ACCESS
            <div>
              <h4>
                Atlassian Access is a separate subscription that your company can enable across all your Atlassian
                products and starts at $4/month/user.
              </h4>
              <a href="">Learn more</a>
            </div>
          </th>
          <td>AVAILABLE</td>
          <td>AVAILABLE</td>
          <td>AVAILABLE</td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>UNLIMITED WORKSPACES</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>POWER-UP ADMINISTRATION</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>ATTACHMENT RESTRICTIONS</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>ORGANIZATION WIDE PERMISSIONS</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>ORGANIZATION VISIBLE BOARDS</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
        </tr>
        <tr>
          <th>PUBLIC BOARD MANAGEMENT</th>
          <td></td>
          <td></td>
          <td></td>
          <td class="tick-mark">✓</td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="looking-for">
    <h1 class="looking-for__title">Didn’t find what you were looking for?</h1>
    <button mat-stroked-button class="cta__btn" id="suggestion-btn">Make a suggestion</button>
    <h1 class="frequency">Frequently asked questions</h1>
  </div>

  <div class="expansion">

    <mat-accordion>
      <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState == false">+</div>
            <div class="negative" *ngIf="panelOpenState == true">-</div>
            Does Trello offer a Premium free trial?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>We sure do. All users can enroll their Workspace in a free trial of Trello Premium. With that trial your
          Workspace will get access to create unlimited Trello boards, automate as much as you’d like, take advantage of
          Timeline, Dashboard, and other new views, and much more!</p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState2 == false">+</div>
            <div class="negative" *ngIf="panelOpenState2 == true">-</div>
            Do you offer any discounted plans?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Yes! Trello offers both a non-profit community discount as well as an education discount.</p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)=" panelOpenState3=true" (closed)="panelOpenState3 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState3 == false">+</div>
            <div class="negative" *ngIf="panelOpenState3 == true">-</div>
            What payment methods do you accept?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>You can purchase a monthly or annual Trello Standard or Premium subscription with any major credit
          card. We
          offer more options for Enterprise customers, if you’re interested in learning more about Trello
          Enterprise
          contact our sales team.</p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState4 == false">+</div>
            <div class="negative" *ngIf="panelOpenState4 == true">-</div>
            How do I cancel my Trello Standard or Premium subscription?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If you aren’t 100% satisfied with Trello Standard or Premium you may downgrade at any time. When a team
          downgrades from Standard or Premium, it retains its Standard or Premium features and unlimited boards until
          the end of its prepaid service period. At the end of its prepaid service period, it becomes a free Trello
          Workspace that can hold 10 boards. Learn more about canceling your Standard or Premium subscription here.</p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)="panelOpenState5 = true" (closed)="panelOpenState5 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState5 == false">+</div>
            <div class="negative" *ngIf="panelOpenState5 == true">-</div>
            How are users counted towards billing?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>A Trello user who is added as a member to a Workspace—either as a normal member or as a team admin—is
          considered a billable team member that is included in the cost of Trello Standard or Premium.

          Any Guest that is on more than one board within the Workspace is considered a Multi-Board Guest and is billed
          at the same rate as Standard or Premium Workspace members. See this page for more information on Multi-Board
          Guests.</p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)="panelOpenState6 = true" (closed)="panelOpenState6 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState6 == false">+</div>
            <div class="negative" *ngIf="panelOpenState6 == true">-</div>
            Is there an on-premises version of Trello?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Trello is proudly a cloud-only product. We offer access via the web, desktop, and our awesome mobile apps.
        </p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)="panelOpenState7 = true" (closed)="panelOpenState7 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState7 == false">+</div>
            <div class="negative" *ngIf="panelOpenState7 == true">-</div>
            Can I have Trello Standard or Premium just for my own account?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Trello Standard and Premium are designed for all teams—even teams of one! To upgrade to Standard or Premium
          you’ll need to create a Workspace and then upgrade that Workspace.</p>
      </mat-expansion-panel>
      <hr>
      <mat-expansion-panel (opened)="panelOpenState8 = true" (closed)="panelOpenState8 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="negative" *ngIf="panelOpenState8 == false">+</div>
            <div class="negative" *ngIf="panelOpenState8 == true">-</div>
            How secure is Trello?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Trello, Inc. (“we”, “us” or “our”) is SOC2 Type 2 certified—we receive and review our data hosting providers’
          SOC1 and SOC2 reports every 6 months under NDA. Trello is ISO/IEC 27001 certified which validates our
          information security management system (ISMS) and the implementation of our security controls. More
          information is available on the Atlassian Trust Management System. Trello is PCI-DSS certified. Learn more
          about Trello’s security protocols here.</p>
      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <div class="pricing__bottom">
    <div class="image">
      <img
        src="https://images.ctfassets.net/rz1oowkt5gyp/3oImeBPuXSABEX9sc9qyQ6/2f8a0d5d3231aa4831387726995028f2/TREL-210_Trello_Access_Spot_Illo.svg"
        alt="">
    </div>
    <div class="content">
      <h3>
        Best-in-class security and centralized administration with Atlassian Access
      </h3>
      <ul>
        <li>SAML single sign-on</li>
        <li>Enforced 2FA</li>
      </ul>
      <p>
        Atlassian Access is a separate subscription that your company can enable across all your Atlassian products and
        starts at $4/month/user. Trello is an Atlassian product.
      </p>
      <br>
      <button mat-stroked-button class="cta__btn bottom-btn">Learn more</button>
    </div>
  </div>



</div>
