@import "../../../main-styles.scss";
.container {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // position: fixed;
}

.top-menu {
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
}

.wave {
  padding-top: 6.3rem;
  height: 700px;
  background: url("https://images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266ed4cb8cc63bd0c388071f01ff6/white-wave-bg.svg")
      center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box,
    linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto
      repeat scroll padding-box border-box rgb(82, 67, 170);
  background-size: 100%;

  display: flex;
  justify-content: center;
  gap: 4rem;

  &__left {
    display: flex;
    flex-direction: column;
    width: 28%;
    min-width: 500px;

    h1,
    h2 {
      color: white;
    }

    h1 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 3.6rem;
      margin-bottom: 0.5rem;
    }

    &--form {
      min-width: 360px !important;
      max-width: 500px;
      font-size: 1.5rem;
      color: rgb(12, 12, 12);
    }

    &--input {
      background-color: rgb(255, 255, 255);
      border: 2px solid white;
      border-radius: 10px;
      height: 2.8rem;
      width: 30rem;
    }

    mat-label {
      font-size: 1.2rem;
      padding: 0.5rem;
      color: #000000d2;
    }
    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    .mat-focused .placeholder {
      color: #000000 !important;
    }

    .mat-input-element::placeholder {
      color: rgb(0, 0, 0);
    }

    .wave__btn {
      width: 9.5rem;
      background-color: $light-blue;
      padding: 0.5rem 0;
      font-size: 0.95rem;
      &:hover {
        background-color: $dark-blue;
      }
    }
    a {
      color: rgb(233, 224, 224);
      margin-top: 1.5rem;
      font-size: 1rem;

      &:hover {
        color: white;

        .svg-play {
          transform: translateX(6px);
          transition-duration: 200ms;
        }
      }

      .svg-play {
        margin-left: 0.5rem;
      }
    }
  }

  &__right {
    display: flex;
    width: 30%;
    max-height: 610px;
    // min-width: 300px;

    .wave-img {
      display: flex;
      min-width: 650px;
      background-image: url(https://images.ctfassets.net/rz1oowkt5gyp/75rDABL8fyMtNLlUAtBxrg/c5e145977a86c41c47e17c69410c64f7/TrelloUICollage_4x.png?w=1140&fm=webp);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

mat-form-field {
  min-width: 500px !important;
}

.wave__bottom {
  display: flex;
  width: 61%;
  min-width: 60rem;
  margin: auto;

  .content {
    display: flex;
    margin-bottom: 1.5rem;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;

    h4 {
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 0.7rem 0;
      color: #181818;
    }

    h1 {
      font-size: 2.1rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.3rem;
      color: #181818;
    }
  }
}

.wave__slider {
  height: 630px;
  width: 100%;
  display: flex;
  background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0%
    0% / auto repeat rgb(178, 212, 255);

  .slider__box {
    display: flex;
    gap: 1.5rem;
    width: 65%;
    min-width: 63rem;
    height: 85%;
    display: flex;
    margin: 0 auto;

    &--row {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 94%;

      h2 {
        font-size: 1rem;
        margin-bottom: 0.1rem;
      }

      h3 {
        line-height: 1.4rem;
        z-index: 1;
      }

      .row-card {
        min-width: 347px;
        cursor: pointer;
        border-radius: 0.4rem;
        margin: 0.5rem 0.8rem;

        .left-content {
          max-height: 33%;
          padding: 0.6rem 1.1rem 0.5rem 1.4rem;
          z-index: 2;
          text-align: justify;
          text-justify: inter-word;
        }
      }

      .active {
        position: relative;
        z-index: 1;
        overflow: hidden;
        box-shadow: 1px 3px 12px 5px rgba($color: #000000, $alpha: 0.15);
        background: linear-gradient(
          to left,
          rgb(255, 255, 255) 97.5%,
          rgb(0, 199, 229) 75%
        );

        .left-blue {
          width: 0.5rem;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: -1;
        }
      }
    }

    .box-img {
      display: flex;
      width: 100%;
    }

    &--img--boards {
      animation: slider-boards 600ms;
      min-width: 660px;
      max-height: 94%;
      background-image: url(https://images.ctfassets.net/rz1oowkt5gyp/3N2U3C71rApm61cGFxnc2E/970b010002488a09a420282df5e7b43a/Carousel_Image_Boards_2x.png?w=1140&fm=webp);
      background-size: cover;
      background-position: center;
      border-radius: 0.7rem;
    }
    &--img--lists {
      animation: slider-lists 600ms;
      min-width: 660px;
      max-height: 94%;
      background-image: url(https://images.ctfassets.net/rz1oowkt5gyp/4U0VUZYX2tQmB5KVGxBabp/7321ac088fe8ec39dbe3069c47d7df99/Carousel_Image_Lists_2x.png?w=960&fm=webp);
      background-size: cover;
      background-position: center;
      border-radius: 0.7rem;
    }
    &--img--cards {
      animation: slider-card 600ms;
      min-width: 660px;
      max-height: 94%;
      background-image: url(https://images.ctfassets.net/rz1oowkt5gyp/26CA6JZeRgoOK4nuRHnIlY/060702a80cf7c3be3651d9297d196267/Carousel_Image_Cards_2x.png?w=960&fm=webp);
      background-size: cover;
      background-position: center;
      border-radius: 0.7rem;
    }
  }
}

@keyframes slider-boards {
  0% {
    background-position: -150px;
  }
  100% {
    background-position: center;
  }
}

@keyframes slider-lists {
  0% {
    background-position: -150px;
  }
  100% {
    background-position: center;
  }
}
@keyframes slider-card {
  0% {
    background-position: -150px;
  }
  100% {
    background-position: center;
  }
}

.workflows {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    overflow: hidden !important;
    margin-left: 17%;
    margin: 2rem 0 0 0;

    h3 {
      margin-left: 17%;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    h1 {
      margin-left: 17%;
      font-size: 2.2rem;
      font-weight: 500;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    width: 2200px;
    overflow: hidden !important;

    &--cards {
      display: flex;
      height: 270px;
    }

    &--scroll {
      max-width: 1500px;
      display: flex;
      justify-content: flex-end;

      .next-slide {
        width: 2rem;
        height: 2rem;
        border-radius: 50px;
        border: none;
        margin-right: 1.5rem;
        &-svg {
          width: 1.2rem;
          height: 1.2rem;
          border: none;
          background: url("https://alinamakarova.ru/bitrix/templates/alina_super_new/img/svg/slider-arrow-prev.svg        ");
          background-repeat: no-repeat;
        }
      }
      .back-slide {
        width: 2rem;
        height: 2rem;
        border-radius: 50px;
        border: none;

        &-svg {
          width: 1.2rem;
          height: 1.2rem;
          border: none;
          background: url("https://alinamakarova.ru/bitrix/templates/alina_super_new/img/svg/slider-arrow-next.svg");
          background-repeat: no-repeat;
        }
      }
    }
  }

  .workflow-card-left {
    transform: translateX(-740px);
    transition-duration: 600ms;
    position: relative;
    min-width: 357px;
    max-height: 276px;
    margin: 1rem;
    padding: 3rem 0;
    box-shadow: 1px 3px 12px 5px rgba($color: #000000, $alpha: 0.15);
    background: linear-gradient(red 48px, rgb(255, 255, 255) 9%);
    border-radius: 0.6rem;
    overflow: hidden !important;

    .content {
      padding: 1.5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      p {
        font-size: 1rem;
      }
    }

    .icon {
      width: 3rem;
      height: 3rem;
      padding: 0.45rem;
      position: absolute;
      background-color: white;
      border-radius: 0.4rem;
      top: 1.4rem;
      left: 1.3rem;

      #icon-project {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/5Oc1c9iIDmXtUFHs0uWuLQ/7c46420a9b2127fc24b6e53445dda44f/UseCasesProjectManagement.svg");
        background-size: cover;
      }
      #icon-brain {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/x2AI5JZPTDVY7BxKbvClM/dc65b20bf0914caa72bcaf2ddbb05d9b/UseCasesBrainstorming.svg");
        background-size: cover;
      }
      #icon-meeting {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/5j0J5BEzFktzLYnsszcJWc/6f874662a4391c035f447662f978a928/UseCasesMeetings.svg");
        background-size: cover;
      }
      #icon-task {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/4Mgm4SG6P6bD673rMtNpXP/371b9c1a650eeb2de13861c7ed39f7fe/UseCasesTaskManagement.svg");
        background-size: cover;
      }
      #icon-crm {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/1bAaKPCUsUUfZ0ISolxQ6F/ae29cebe506fa6a07f508372504ad680/icon-object-id.svg");
        background-size: cover;
      }
      #icon-editorial {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/2QxxxQ4YT8zNA3pGQafzpu/d5c750e8f37e8a77bfdb661aff2f2df6/icon-content-calendar.svg");
        background-size: cover;
      }
    }
  }

  .workflow-card-right {
    transform: translateX(300px);
    transition-duration: 600ms;
    position: relative;
    min-width: 359px;
    max-height: 276px;
    margin: 1rem;
    padding: 3rem 0;
    box-shadow: 1px 3px 12px 5px rgba($color: #000000, $alpha: 0.15);
    background: linear-gradient(red 48px, rgb(255, 255, 255) 9%);
    border-radius: 0.6rem;
    overflow: hidden !important;

    .content {
      padding: 1.5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      p {
        font-size: 1rem;
      }
    }

    .icon {
      width: 3rem;
      height: 3rem;
      padding: 0.45rem;
      position: absolute;
      background-color: white;
      border-radius: 0.4rem;
      top: 1.4rem;
      left: 1.3rem;

      #icon-project {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/5Oc1c9iIDmXtUFHs0uWuLQ/7c46420a9b2127fc24b6e53445dda44f/UseCasesProjectManagement.svg");
        background-size: cover;
      }
      #icon-brain {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/x2AI5JZPTDVY7BxKbvClM/dc65b20bf0914caa72bcaf2ddbb05d9b/UseCasesBrainstorming.svg");
        background-size: cover;
      }
      #icon-meeting {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/5j0J5BEzFktzLYnsszcJWc/6f874662a4391c035f447662f978a928/UseCasesMeetings.svg");
        background-size: cover;
      }
      #icon-task {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/4Mgm4SG6P6bD673rMtNpXP/371b9c1a650eeb2de13861c7ed39f7fe/UseCasesTaskManagement.svg");
        background-size: cover;
      }
      #icon-crm {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/1bAaKPCUsUUfZ0ISolxQ6F/ae29cebe506fa6a07f508372504ad680/icon-object-id.svg");
        background-size: cover;
      }
      #icon-editorial {
        width: 100%;
        height: 100%;
        background: url("//images.ctfassets.net/rz1oowkt5gyp/2QxxxQ4YT8zNA3pGQafzpu/d5c750e8f37e8a77bfdb661aff2f2df6/icon-content-calendar.svg");
        background-size: cover;
      }
    }
  }

  #project {
    background: linear-gradient(rgb(255, 143, 115) 48px, rgb(255, 255, 255) 9%);
  }
  #brain {
    background: linear-gradient(rgb(121, 226, 242) 48px, rgb(255, 255, 255) 9%);
  }
  #meeting {
    background: linear-gradient(rgb(121, 242, 192) 48px, rgb(255, 255, 255) 9%);
  }
  #task {
    background: linear-gradient(rgb(255, 227, 128) 48px, rgb(255, 255, 255) 9%);
  }
  #crm {
    background: linear-gradient(rgb(0, 199, 229) 48px, rgb(255, 255, 255) 9%);
  }
  #editorial {
    background: linear-gradient(rgb(135, 119, 217) 48px, rgb(255, 255, 255) 9%);
  }

  &__description {
    display: flex;
    width: 1200px;
    margin: 4rem auto;
    justify-content: space-between;

    .description-content {
      max-width: 65%;
      h3 {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }

    .description-button {
      max-height: 48px;
      font-size: 1.05rem;
      background-color: transparent;
      color: #4e4e4e;
      border: 1px solid rgb(0, 101, 255);
      padding: 0 18px;
      transition: all 250ms ease-out 0s;

      &:hover {
        background-color: rgb(222, 235, 255);
        // transition: all 250ms ease-out 0s;
        transition-duration: 250ms;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        transition-property: all;
      }
    }
  }
}
