<top-menu class="tio"></top-menu>

<div class="container">

  <div class="wave">
    <div class="wave__left">
      <h1>Trello brings all your tasks, teammates, and tools together</h1>
      <h2>Keep everything in the same place—even if your team isn’t.</h2>
      <form class="wave__left--form">
        <mat-form-field class="wave__left--form">
          <mat-label>Email</mat-label>
          <input class="wave__left--input" type="email" matInput placeholder="name@gmail.com">
        </mat-form-field>
      </form>
      <button mat-flat-button class="wave__btn">Sign Up - it's free!</button>
      <a href="">Watch video<svg class="svg-play" fill="none" height="24" viewBox="0 0 24 24" width="24"
          xmlns="http://www.w3.org/2000/svg">
          <path d="m5 5h14v14h-14z"></path>
          <path clip-rule="evenodd"
            d="m10.0138 16.3878c-.83597.4912-1.5138.105-1.5138-.8645v-7.04491c0-.97008.6755-1.358 1.5138-.86566l6.465 3.79747c.5548.3261.5589.8517 0 1.1801z"
            fill="currentColor" fill-rule="evenodd"></path>
          <circle cx="12" cy="12" r="11.5" stroke="currentColor"></circle>
        </svg></a>
    </div>
    <div class="wave__right">
      <div class="wave-img">

      </div>
    </div>
  </div>

  <div class="wave__bottom">
    <div class="content">
      <h4>TRELLO 101</h4>
      <h1>A productivity powerhouse</h1>
      <h3>Simple, flexible, and powerful. All it takes are boards, lists, and cards to get a clear view of who’s doing
        what and what needs to get done. Learn more in our <a href=""> guide for getting started.</a></h3>
    </div>
  </div>

  <div class="wave__slider">
    <div class="slider__box">
      <div class="slider__box--row">

        <div class="boards row-card" (click)="onActive('boards')" [class.active]="activatedCard === 'boards'">
          <div class="left-content">
            <h2>Boards</h2>
            <h3>Trello boards keep tasks organized and work moving forward. In a glance, see everything from “things to
              do” to “aww yeah, we did it!”</h3>
          </div>
          <div class="left-blue"></div>
        </div>

        <div class="lists row-card" (click)="onActive('lists')" [class.active]="activatedCard === 'lists'">
          <div class="left-content">
            <h2>Lists</h2>
            <h3>The different stages of a task. Start as simple as To Do, Doing or Done—or build a workflow custom fit
              to
              your team’s needs. There’s no wrong way to Trello.</h3>
          </div>
          <div class="left-blue"></div>
        </div>

        <div class="cards row-card" (click)="onActive('cards')" [class.active]="activatedCard === 'cards'">
          <div class="left-content">
            <h2>Cards</h2>
            <h3>Cards represent tasks and ideas and hold all the information to get the job done. As you make progress,
              move cards across lists to show their status.</h3>
          </div>
        </div>
      </div>
      <div class="box-img" [class.slider__box--img--boards]="activatedCard === 'boards'"
        [class.slider__box--img--lists]="activatedCard === 'lists'"
        [class.slider__box--img--cards]="activatedCard === 'cards'"></div>
    </div>
  </div>


</div>
