* {
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
    Droid Sans, Helvetica Neue, sans-serif !important;
}

$light-gray: hsl(240, 12.9%, 92.8%);
$dark-gray: hsla(240, 12.9%, 87.8%, 0.9);
$blue: #172b4d;
$light-blue: #0065ff;
$light-blue-hover: #026aa7;
$light-blue-get-hover: #0747a6;
$dark-blue:rgb(7, 71, 166);
$blue-navbar-text: #505f79;
$navbar__right--title: rgb(80, 95, 121);
$navbar-border: #8777d9;
$navbar-button-hover: #eae6ff;
$navbar-svg: #7a869a;
$navbar-child-hover: rgba(230, 252, 255, 0.5);
$nav__btn-hover: rgba(255, 255, 255, 0.3);
$plan__free--cta: rgba(255, 250, 229, 0.4);
$plan__free-cta-btn: #ffc400;
$plan__free-cta-btn-hover: #fffae5;
$linear-purple: linear-gradient(
  97.78deg,
  var(--ds-background-accent-purple-bolder, #4423a3) 17.5%,
  var(--ds-background-accent-magenta-subtle, #aa63cb) 113.39%
);
$price__border: rgb(212, 212, 212);
$price__btn: rgb(0, 184, 217);
$price__btn--hover: rgb(230, 252, 255);
